.list {
    text-align: left;
    max-width: 900px;
    margin: auto;
  }
  
  .submit-form {
    max-width: 600px;
    margin: auto;
  }
  
  .edit-form {
    max-width: 600px;
    margin: auto;
  }

  .btn {
    margin: 5px;
  }
